
body{
  background-color: #a1bad1;
  background-image: url('/assets/images/biggreen.png');
  padding-top: 50px;
  margin-top: 0px;
  margin:0px auto;
  border: none;
  background-size: cover;
  
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

h1{
    color: red;
}

#content{
   background-color: white;
   background-image: url('/assets/images/greensimple.jpg');
  
}
