a:hover {
    text-decoration: none;
}

.btn-xl {
    padding: 60px 60px;
    font-size : 40px;
}

.btn-casier {
    padding: 48px 48px;
    font-size : 32px;
}

.form-group {
    font-size : 30px;
}

.container-fluid {
    text-align: center;
}

body {
    background-image: url('/assets/images/greenPattern.jpg');
}


h1 {
    font-size: 100px;
    color: #000000;
}

h2 {
    font-size: 80px;
    color: #000000;
}

#shadow{
text-shadow: 
white 0.1em 0.1em 0.2em
}

#blackShadow{
text-shadow: 
black 0.1em 0.1em 0.2em
}   

h3 {
    font-size: 70px;
    color: #000000;
}

p {
    font-size: 35px;
    color: #ffffff;
}

.col-md-3{
background-color:hsl(120,100%,75%);
color: black;
opacity:0.3;
}