@(utilisateur : Utilisateur)

@main("Smart Case") {
<a href="/logout" class="btn">Se déconnecter</a>

<h1>Bonjour @utilisateur.getPrenom() !</h1>
<p>Vous avez @utilisateur.getCredit() crédits.</p>

<div class="btn-group">
    <a href="/echangerchoix" class="btn btn-default btn-xlarge active" role="button">Echanger un objet</a>

    <a href="/retirerchoix" class="btn btn-default btn-xlarge active" role="button">Retirer un objet</a>

    <a href="/deposer" class="btn btn-default btn-xlarge active" role="button">Deposer un objet</a>
</div>

}
