@main{
        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a id="titleLink" class="navbar-brand" href="/">Smart Case</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/signalerchoix" class="btn" id="signalerId">Signaler un contenu innaproprié</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
<div class="container-fluid">
    <a href="/"><h1>SmartCase</h1></a>
                
    <p>
        Smart Case est une borne d'échange d'objets. Finit de jeter les objets que vous n'utilisez plus ! Pour chaque objet que vous déposez dans la borne, vous gagnerez un crédit. Puis vous pourrez utiliser ces crédits pour récuperer des objets déposés par d'autres utilisateurs. C'est simple, rapide et écologique !
    </p>
    <a href="/" class ="btn btn-default btn-xl">Accueil</a>
                
</div>

}
