@(casiers : java.util.Collection[Casier],descriptionChoix : String,verbeAction : String,destination : String)

@main{
        
        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a id="titleLink" class="navbar-brand" href="/">Smart Case</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href ="/main" class="btn">Home</a></li>
                        <li><a href="/logout" class="btn">Se déconnecter</a></li>
                        <li><a href="/signalerchoix" class="btn">Signaler un contenu innaproprié</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
      @if(Casier.allAreEmpty(casiers)){
          <p class="text-center"> Désolé, tout les casiers sont vides pour le moment.
          Voulez vous <a href="/deposer">déposer</a> un objet ?</p>
      } else {
      <p class="text-center">@descriptionChoix</p>
          @for(casier <- casiers){

              @if(casier.estPlein()) {
              <a href="/@destination/@casier.getIdCasier()" class="btn btn-default btn-casier">@verbeAction N°@casier.getIdCasier()</a>
              } else {
              <a href="/@destination/@casier.getIdCasier()" class="btn btn-default btn-casier">@verbeAction N°@casier.getIdCasier()</a>
              }
          }
    }
}