@(message: String)

        
@main{
        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a id="titleLink" class="navbar-brand" href="/">Smart Case</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/signalerchoix" class="btn" id="signalerId">Signaler un contenu innaproprié</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="container-fluid">
            <a href="/aide"><h1  id="shadow">SmartCase</h1></a>
            @if(message!=null && message.length()>0){<p id="blackShadow">@message</p>}
            <div class="row">
                <div class="col-md-12">
                    <form action="/authentification" method="post" name="login_form" role="form">
                        <div class="form-group">
                            <label for="name">Adresse mail :</label>
                            <input type="text" name="adresseMail" />
                        </div>
                        
                        <div class="form-group">
                            <label for="password">Mot de passe :</label>
                            <input type="password" name="password" />
                        </div>
                        
                        <button type="submit" class="btn btn-default btn-xl">S'identifier</button>
                        <a class="btn btn-default btn-xl" href="/inscription">S'inscrire</a>
                        <a class="btn btn-default btn-xl" href="/aide">Qu'est ce que c'est ?</a>
                        
                        
                        
                    </form>
                    
                </div>
                
            </div>
        </div>
}
