@(message: String)

@main("Smart Case") {

<div class="row">
	<div class="col-md-1">
<div id="menuUl" style="float:right; margin-right:40px;">
    
    <ul id="navigation">
        <li><a class="home" href="#home"><img src="/assets/images/home-icon.png" alt="home"></a></li>
        <li><a class="registration" href="/inscription"><img src="/assets/images/inscription.png" alt="home"></a></li>
        <li><a class="help" href="#help"><img src="/assets/images/help.png" alt="help"></a></li>
    </ul>
</div>
</div>

	<div class="col-md-1">

<div style="display:inline-block; float:left;">
    <h3 id="loginFont">Login</h3> <br>
    <form class="login_form" action="/authentification" method="post" name="login_form">
        <ul style="position: top-left;margin-left:20px; margin-right:10px">
            
            <li style="display:inline">
                <label for="name" id="loginLabel">Adresse mail :</label>
                <input type="text" name="adresseMail" />
            </li>
            
            <li>
                <label for="password" id="loginLabel">Mot de passe :</label>
                <input type="password" name="password" />
            </li>
            <li>
                <button class="submit" type="submit" class="loginFormButton">S'inscrire</button>
            </li>
            
        </ul>
    </form>
    
</div>

</div>

<div class="col-md-1">
<div id="description" style="">
    
    Smart Campus est un projet qui a comme but l'échange des objets culturels<br>
    (bande dessiné, dvd, carte de jeux vidéos, biblo) et utilitaires (fer à repasser, perceuse, lampe, couverture, etc.)<br>
    dans une manière facile et attractive. Cette alternative permet aux gens de ne pas jeter les objets qu'ils n'utilisent plus,
    <br> ainsi que de decouvrir de nouvelles possibilités d'obtenir un objet avec une bonne condition materielle, sans payer. 
    
</div>
</div>

</div>


<div class="row">
	<div class="col-md-1">
	<a href="/signalerchoix" class="btn">Signaler un contenu innaproprié</a>
	</div>
	
<div>

}
