@(message: String)

@main("Welcome to Smart Case! (E)Change le monde!") {

<!--
    <script type='text/javascript' src='@routes.Assets.at("javascripts/index.min.js")'></script>
    -->
    

    <div class="container" >
    <div id="menuUl" style="float:right; margin-right:80px;">
    	
  		<ul id="navigation">
  		
    		<li><a class="home" href="#home"><img src="/assets/images/home-icon.png" alt="home"></a></li>
    		<li><a class="registration" href="/inscription"><img src="/assets/images/registration.png" alt="home"></a></li>
  		</ul>
		</div>
   
	<div id="content" style="margin-top:0px">

<div style="display:inline-block; float:left;">
		 <form class="login_form" action="NomFichierpanamea" method="post" name="login_form">
 	<ul style="position: top-left;margin-left:20px">
         <h5>Login</h5> <br>
         <li style="display:inline">
        <label for="name">username*:</label>
        <input type="text" name="name" />
        </li>
  		<li>
    	<label for="password">Password*:</label>
    	<input type="password" name="password" />
    	</li>
    	<button class="submit" type="submit" class="loginFormButton">Login</button>
	</li>
    
</ul>
		</form>
				
		</div>
		
		
		<div style="text-align: left; margin-left:20px; margin-right: 20px; margin-bottom: 20px">
		
		Smart Campus est un projet qui a comme but l'échange des objets culturels<br>
		 (bande dessiné, dvd, carte de jeux vidéos, biblo) et utilitaires (fer à repasser, perceuse, lampe, couverture, etc.)<br>
		 dans une manière facile et attractive. Cette alternative permet aux gens de ne pas jeter les objets qu'ils n'utilisent plus,
		 <br> ainsi que de decouvrir de nouvelles possibilités d'obtenir un objet avec une bonne condition materielle, sans payer. 
		
		</div>
		
		</div>


    </div>

<!--
     <-- <button id="getMessageButton">Get JSON Message</button>
     -->

}
