@main{
        
        
        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a id="titleLink" class="navbar-brand" href="/">Smart Case</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/signalerchoix" class="btn">Signaler un contenu innaproprié</a></li>
                    </ul>
                </div>
            </div>
        </div>

	<form role="form" action="/inscription" method="post" name="registration_form">
           <div id="registrationContainer">         
                    <h2>Inscription</h2>
                    
                    <div class="form-group">
                        <label for="prenom">Prenom :</label>
                        <input type="text" name="prenom" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="nom">Nom :</label>
                        <input type="text" name="nom" required/>
                    </div>
                    
                    <div class="form-group">
                        <label for="adresseMail">Email :</label>
                        <input type="email" name="adresseMail" required />
                    </div>
  		
                    <div class="form-group">
                        <label for="password">Mot de Passe :</label>
                        <input type="password" name="password" required/>
                    </div>
    	
                    <div class="form-group">
                        <label for="password_confirmation">Confirmation du Mot de Passe :</label>
                        <input type="password" name="password_confirmation" required/>
                    </div>
                    
                    <div class="form-group">
                        <button class="submit" type="submit" class="btn btn-xl">S'inscrire</button>
                    </div>
		</form>
		<div>
}