@(title: String)(content: Html)

<!DOCTYPE html>
<html>
<head>
    <title>Smart Case</title>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/index.css")'>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    <script type="text/javascript" src="@routes.MessageController.javascriptRoutes"></script>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a id="titleLink" class="brand" href="/">@title</a>
            </div>
        </div>
    </div>

    <div class= "pre_container">
    	
	</div>


    <div class="container" >
    <div id="menuUl" style="float:right; margin-right:100px;">
    	
  		<ul id="navigation">
  		
    		<li><a class="home" href="#home"><img src="/assets/images/home-icon.png" alt="home"></a></li>
    		<li><a class="registration" href="/inscription"><img src="/assets/images/registration.png" alt="home"></a></li>
  		</ul>
		</div>
   
	<div id="content" style="padding: 20px;">
		<div style="text-align: left">
		
		Smart Campus est un projet qui a comme but l'échange des objets culturels<br>
		 (bande dessiné, dvd, carte de jeux vidéos, biblo) et utilitaires (fer à repasser, perceuse, lampe, couverture, etc.)<br>
		 dans une manière facile et attractive. Cette alternative permet aux gens de ne pas jeter les objets qu'ils n'utilisent plus,
		 <br> ainsi que de decouvrir de nouvelles possibilités d'obtenir un objet avec une bonne condition materielle, sans payer. 
		
		</div>
		</div>

		<div id="inContent" style = "padding 10px">
        @content
        </div>
	
       
	
    </div>
</body>
</html>
